:root {
    --bg-color: #0F131C;
    --title-color: #fff;
    --subtitle-color: #86948A;
    --btn-bg-color: #4EDEA3;
    --input-bg-color: #012718;
    --text-btn-color: #003824;
    --selected-bg-color: #262A34;
    --text-input-color: #fff;
    --hover-input: #7ef1c1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    justify-items: center;
    gap: 4rem;

    background: var(--bg-color);

    margin: 1.5rem 0;
}

h1, h2 {
    color: var(--title-color);
}

h3 {
    color: var(--subtitle-color);
}

a {
    text-decoration: none;
}

.light-mode-active {
    --bg-color: #fff;
    --title-color: #000;
    --subtitle-color: #86948A;
    --btn-bg-color: #87CEEB;
    --text-btn-color: #083d52;
    --selected-bg-color: #262A34;
    --input-bg-color: #062735;
    --hover-input: #012938;
}