:root {
    --bg-color: #0F131C;
    --primary-text-color: #DFE2EF;
    --second-text-color: #86948A;
    --btn-bg-color: #4EDEA3;
    --text-btn-color: #003824;
    --selected-bg-color: #262A34;
    --input-bg-color: #0A0E17;    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}