@import url(./_global.css);

h3 {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--second-text-color);
}

header {
    display: grid;
    gap: .3rem;
    text-align: center;

    & p {
        text-transform: uppercase;
        font-size: 12px;
        color: var(--second-text-color);
    }
}

main {

    & #config-modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

        & .container {
            display: flex;
            flex-direction: column;
            gap: .5rem;
    
            & input#nome {
                padding: 12px;
                background-color: var(--input-bg-color);
                color: var(--primary-text-color);
                border: none;
                border-bottom: 1px solid var(--btn-bg-color);
                border-radius: .2rem;
            }
    
            & .languages, .levels, .time {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 12px;
    
                & div {
                    position: relative;
                }
    
                & input[type="radio"] {
                    appearance: none;
                    position: absolute;
    
                    &:checked + label {
                        background-color: var(--selected-bg-color);
                        color: var(--btn-bg-color);
                    }
                }
                
                & label {
                    display: flex;
                    background-color: var(--input-bg-color);
                    padding: 12px;
                    border-radius: .2rem;
                    justify-content: center;
    
                    &:hover {
                        outline: 1px solid var(--btn-bg-color);
                    }
                }
            }
        }
    
        & #btn-start {
            display: block;
            padding: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;
            background-color: var(--btn-bg-color);
            color: var(--text-btn-color);
            border: none;
            border-radius: .2rem;
            cursor: pointer;
            text-align: center;
    
            &:hover {
                color: var(--input-bg-color);
            }
        }
    }

    & #game-modal {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;

        & #temporizador {
            padding: 12px;
            font-size: 12px;
            text-transform: uppercase;
            font-size: 2rem;

            color: var(--input-bg-color);
            background: var(--btn-bg-color);
            border-radius: .5rem;
        }

        & .words {
            & #word_selected {
                font-size: 4.5rem;
            }

            & #translation {
                font-size: 1.1rem;
                color: var(--second-text-color);
            }
        }

        & .response-container {
            display: flex;
            flex-direction: column;

            & #message {
                font-size: .6rem;
                padding: .4rem;
                width: fit-content;
                border-radius: .2rem;
                text-transform: uppercase;
                font-weight: bold;
                align-self: end;
                margin-bottom: .5rem;

                &.true {
                    background-color: green;
                }

                &.false {
                    background-color: red;
                }
            }

            & #response {
                width: 25rem;
                height: 4rem;
                padding: .8rem;
                font-size: 1.2rem;
                background-color: var(--input-bg-color);
                color: var(--primary-text-color);
                border: none;
                border-radius: .2rem;
                margin-bottom: 1rem;
            }

            & #btn-send {
                display: block;
                width: fit-content;
                margin: 0 auto;
                font-size: .7rem;
                padding: .8rem;
                text-transform: uppercase;
                font-weight: bold;
                background-color: var(--btn-bg-color);
                color: var(--text-btn-color);
                border: none;
                border-radius: .2rem;
                cursor: pointer;

                &:hover {
                    color: var(--input-bg-color);
                }
            }
        }
    }

    & #end-modal {
        display: none;
        justify-content: center;
        width: 100%;
        margin-inline: 5rem;
        gap: 5rem;

        & .container {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & h3 {
                font-size: 1.2rem;
                color: var(--primary-text-color);
            }

            & #wrong-words-container {
                max-height: 70%;
                overflow-y: auto;

                & h3 {
                    text-align: center;
                    margin-bottom: 10px;
                }

                & p {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .buttons {
                display: flex;
                gap: 12px;

                & .btn {
                    display: block;
                    padding: 12px;
                    color: white;
                    border: none;
                    border-radius: 8px;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                    transition: 0.2s;
                }

                & #btn-save {
                    background-color: var(--btn-bg-color);
                    color: var(--text-btn-color);

                    &:hover {
                        color: var(--input-bg-color);
                    }
                }

                & #btn-cancel {
                    background-color: var(--second-text-color);
                    color: var(--bg-color);
                }
            }
        }
    }
}